{% extends 'base.html.twig' %}

{% block title %}Hello FormationController!{% endblock %}

{% block body %}
<h1>Liste des formations</h1>

{% for formation in formations %}
<a href="{{ path('delete_formation',{'id': formation.id})}}">Supprimer</a>
<a href="{{ path('edit_formation',{'id': formation.id})}}">Edit</a>
<a href="{{path('show_formation' , {'id':formation.id})}}">{{formation}} <br>
{% endfor %}
{% endblock %}
