* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins";
    text-decoration: none;
}

body{
    --nav-color:linear-gradient(180deg, rgba(80,56,77,1) 0%, rgba(96,47,53,1) 41%, rgba(108,41,37,1) 69%, rgba(120,35,19,1) 100%);
}

.wrapper{
    display: grid;
    grid-template-columns: 0.8fr 5fr;
    grid-template-rows: 1fr;
}

nav{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.logo{
    margin: 10%;
    color: white;
    font-size: 2.8vw;
    font-weight: 600;
}

.nav{
    background: var(--nav-color);
    border-right: solid 2px black;
}

nav li{
    text-align: center;
    margin: 25% 0%;
    list-style-type:none;
}

nav a{
    color:white;
    font-size: 1.4vw;
    font-weight: 400;
}

.logout{
    background-color: white;
    font-size: 1.5vw;
    font-weight: 500;
    padding: 5% 10%;
    margin-top: 20%;
    border-radius: 10px;
}

.logout a{
    color: #6c2925;
    font-weight: 500;
}

.content{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.2fr 1fr;
    background-color: white;
    height: 100%;
}

body {
    padding: 0;
    margin: 0;
    height: 100vh;
    width: 100%;
    background: #07051a;
}

.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

form{
    transition: all 1s;
    position: relative;
    bottom: 20px;
    width: 100;
    height: 0.1vh;
    background: transparent;
    box-sizing: border-box;
    border-radius: 25px;
    padding: 5px;
    border-style: none;
    border: 0px;
}


.header input{
    position: relative;
    right: 0;
    width: 100%;
    height: 5vh;
    background-color: #95A3A4;
    border-radius: 30px;
    border: none;
    border-style: none;
    padding-left: 20px;
}

.header input:focus{
    outline:none;
    border:solid 2px #5a6666; /*border rouge quand la selection n'est pas correct*/
}

.search{
    margin-left: 8%;
    position: relative;
    width: 40vw;
}
.fa{
    box-sizing: border-box;
    padding: 10px;
    width: 35px;
    height: 35px;
    position: absolute;
    top: 5px;
    right: 5px;
    border-radius: 50%;
    color: #7e8b8b;
    background-color: #ffffff;
    text-align: center;
    font-size: 1.2em;
    transition: all 1s;
}

.user-profile{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 10vw;
    margin-right: 5%;
}

.user-profile img{
    width: 5vh;
    height: 5vh;
    border-radius: 50%;
    margin-right: 8%;
}

.user-profile p{
    font-size: 1vw;
    font-weight: 400;
}

h1{
    height:50px ;
}

