{% extends 'base.html.twig' %}

{% block title %}Liste session{% endblock %}

{% block body %}

<h1>Liste des sessions</h1>

{% for session in sessions %}
<a href="{{ path('delete_session',{'id': session.id})}}">Supprimer</a>
<a href="{{ path('edit_session',{'id': session.id})}}">Edit</a>
<a href="{{path('show_session' , {'id':session.id})}}">{{session}} <br>
{% endfor %}

{% endblock %}
